* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Attractive modern background */
    background: radial-gradient(
        circle at top left,
        #8ec5fc,
        #e0c3fc,
        #667eea,
        #764ba2
    );
    background-size: 200% 200%;
    animation: gradientMove 10s ease infinite;
}

.container {
    width: 380px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
    text-align: center;
    animation: fadeIn 0.8s ease;
}

.card h2 {
    color: #333;
}

.subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #667eea, #764ba2);
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.link {
    margin-top: 15px;
}

.link a {
    color: #667eea;
    text-decoration: none;
    font-weight: bold;
}
.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
.home-card {
    text-align: center;
}
.home-actions{
    margin-top: 25px;
}
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}